.card2 {
    position: relative;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    min-width: 22em !important;
    max-width: 22em !important;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px !important;
    height: 10em !important;
    cursor: pointer;
}
    .card2:hover {
        background-color: #EFD5BE;
    }

.card-body {
    line-height: 7.5em;
    height: 10em;
    text-align: center;
}
.card-body p {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
}